<% include ../partials/header %>
  <h1>
    Welcome To User Home Page, <%=users.username%>
  </h1>
<!--   <div>
    <form action="/data" method="POST">
      <input type="number" name="distance" placeholder="distance">
      <input type="number" name="hour" placeholder="hr">
      <input type="number" name="minute" placeholder="min">
      <input type="number" name="second" placeholder="sec">
      <button>Submit</button>
    </form>
  </div>  -->
<% include ../partials/footer %>